---
BasedOnStyle: WebKit
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments:
  Enabled: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
TabWidth: 4
UseTab: ForContinuationAndIndentation
AlignArrayOfStructures: None
