---
BasedOnStyle: Webkit
TabWidth: 4
ColumnLimit: 80
UseTab: Never
LineEnding: LF
BreakBeforeBraces: Mozilla
AlignAfterOpenBracket: false
AlignConsecutiveAssignments:
  Enabled: false
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowAllArgumentsOnNextLine: true
PackArguments:
  BinPack: OnePerLine
PackParameters:
  BinPack: OnePerLine
AlignArrayOfStructures: None
BreakAfterAttributes: Leave
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketIf: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketIf: true
BreakBeforeCloseBracketFunction: true
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTemplateCloser: true
BreakBeforeTernaryOperators: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakTemplateDeclarations: Yes
